body {
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
    margin: 0;
    background: #555;
}

.container
{
    overflow: hidden;
}

#canvas
{
    margin-left: 300px;
}

#situationMetadata
{
    font-size: smaller;
    border-bottom: 1px black solid;
    padding: 10px;
}

button
{
    text-align: center;
    font-size: smaller;
    border: 2px solid #AAAAAA;
    background: #555555;
    color: white;
}

button:hover
{
    background: #333333;
    cursor: pointer;
}

#sidebar {
    color: #f1f1f1;
    width: 300px;
    top: 0;
    bottom: 0;
    position: absolute;
    background: #555;
    border-right: solid black 1px;

}

.sticky {
    position: fixed!important;
    top: 0;
    bottom: 0;
    width: 300px;
}

#title
{
    padding: 12px 18px;
    font-weight: bolder;
    border-bottom: 1px black solid;
    overflow: hidden;
    text-align: center;
}

#selectedIntersection {
    padding: 10px;
    font-size: smaller;
    border-bottom: 1px black solid;
}

#addIntersectionButtonFirst
{
    padding: 10px;
    font-size: smaller;
    border-bottom: 1px black solid;
}

#selectedIntersectionText {
    float: left;
}

#selectedLaneText {
    float: left;
}

#selectedIntersectionPhaseText {
    float: left;
}

#selectedLane {
    padding: 10px;
    font-size: smaller;
    border-bottom: 1px black solid;
}

.button
{
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.button:hover
{
    background-color: #333;
}

#tooltip {
    padding: 10px;
    font-size: smaller;
    border-bottom: 1px black solid;
    height: 50px;
}

#simulation
{
    padding: 10px;
    font-size: smaller;
    border-bottom: 1px black solid;

}

#reset
{
    font-size: smaller;
    padding: 10px;
}

svg
{
    background: green;
}



.slider {
    -webkit-appearance: none;
    width: 250px;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}